.show-result {
    height: 200px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: scroll;
}

.no-result {
    display: none;
}